.doctor-container {
  padding: 40px;
  background: #eef7ff;
  min-height: 100vh;
  text-align: center;
}

.doctor-cards {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 20px;
  justify-content: center;
}

.doctor-cards div {
  padding: 20px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}

.logout {
  background: #ffecec !important;
}
