.home-container {
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/hospital-bg.jpg");

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.home-title {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 10px;
}

.home-text {
  color: #f1f1f1;
  width: 60%;
  margin-bottom: 30px;
}

.home-buttons {
  display: flex;
  gap: 15px;
}

.home-btn {
  padding: 10px 25px;
  background-color: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
